<div class="container center span8 well">
<h2>Welcome to auditorium</h2>
<h3>A way to change communication on your campus!</h3>
<br />
<h4>You are a student? A lecturer? Or just interested in participation?</h4>
<br />
<p>
	<%= link_to 'Register now',new_user_registration_path, :class => 'btn btn-primary btn-large' %>
	<%= link_to 'Already have an account?', new_user_session_path, :class => 'btn btn-large' %>
</p>

<p>You can register with your tu-dresden.de email address. You don't have such an email address? You can sign up for a registration queue. Our team will send you an email after we have confirmed your email.</p>

<p>Questions or problems? You can <a href="mailto:auditorium@inftex.net">send us an email</a> or a tweet to <a href="http://twitter.com/_auditorium">@_auditorium</a></p>

<p class="hint"><b>Students</b> please use your sNumber@mail.zih.tu-dresden.de email address. You can change your email address later.</p>

</div>
