<% if @groups.size > 0 %>
  <div class="row">
    <% @groups.each do |group| %>
      <div class="small-12 medium-6 large-4 columns" data-id="<%= dom_id(group)%>">
        <%= render 'groups/group_card', group: group %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="hint bigger">
    <%= t('my_groups.no_groups_subscribed') %>
  </p>
<% end %>

<span class="right"><%= paginate @groups %></span>