<section id="groups">
	<header class="subheader topic-group">
		<h2><%= t('groups.index.title')%></h2>
	</header>

	<%= link_to t('groups.new.link'), new_group_path, class: 'small button' %>

  <ul class="groups">
  	<%= render(@groups) || t('groups.no_groups_available') %>
  </ul>
</section>
