<h1>Show all groups</h1>

<table class="table">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Tags</th>
	</tr>
	<% @groups.each do |group| %>
		<tr>
			<td><%= group.title %></td>
			<td><%= group.description %></td>
			<td>
				<%= raw group.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
			</td>
		</tr>
	<% end %>
</table>