// Place all the styles related to the feedback controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@import 'variables';
#feedback { 
	height: 100px; 
	width: 104px; 
	position: fixed; 
	top: 40%; 
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg); 
	-o-transform: rotate(-90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a { 
	background: lighten(@red, 5%); 
	height: 15px; 
	width: 70px; 
	padding: 5px 16px;
	color: #fff; 
	font-family: Arial, sans-serif; 
	font-size: 17px; 
	font-weight: bold; 
  align: center;
	text-decoration:   none;
	border-bottom:     solid   1px   @grayLight;
	border-left:       solid   1px   @grayLight;
	border-right:      solid   1px   @white;
}

#feedback a:hover { 
	background: darken(@red, 5%); 
}
