<% # chair %>
<div class="btn-group">
  <% if current_user %>

    <% if can? :create, Lecture %>
      <%= link_to("add lecture", new_lecture_path(:chair_id => chair.id), { :class => 'btn btn-mini btn-primary'}) %>
    <% end %>

    <% if can? :update, chair %>
      <%= link_to t('general.actions.edit'), edit_chair_path(chair), { :class => 'btn btn-mini btn-warning' }  %>
    <% end %>

    <% if can? :destroy, chair %>
      <%= link_to 'delete', chair, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
    <% end %>

  <% end %>
</div>
