<section>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Chair</th>
  </tr>
  </thead>

<% chairs.each do |chair| %>
  <tr data-id="<%= chair.id%>" class="lecture">
    <td class="chair"> <%= link_to chair.name, chair%></td>
  </tr>
<% end %>
</table>
</section>
