<h2>Editing chair</h2>

<%= render 'form' %>

<%= link_to 'back', chairs_path, :class =>'btn btn-mini icon-arrow-left' %>
<%= link_to 'show', @chair, :class=>'btn btn-mini btn-primary' %> |
<%= link_to 'delete', @chair, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
