<div class="container span8 center">
<h2><%= t('recordings.headline.new') %></h2>
<p class="hint">create the recording for <%= link_to @course.name_with_term, @course %></p>


<%= render 'recordings/form' %>
</div>