<ul class="posts">
  <% @posts.group_by { |p| p.created_at.to_date }.each do |date, posts| %>
     <h3 class="group-of-posts">
      <span><%= named_date(date) %></span>
    </h3>
    <% posts.each do |post| %>
      <%= render 'shared/post', post: post %>
    <% end %>
  <% end %>
</ul>

<%= paginate @posts %>