<div id='ask_question'>
  <div class="center span8">
    <h2>You need help? Ask a question.</h2>
  <%= render :partial => 'posts/form', :locals => { :post => Post.new }%>
  </div>
</div>

<div id="activity">
  <div class="center span8">
    <h2>Recent activity</h2>
    <%= render :partial => 'posts/posts_stream', :locals => {:posts_per_day => @posts_per_day }%>
  </div>
</div>

