<section id="activity">

  <!-- new posts -->
  <header id="recent-posts">
    <h2><%= t('home.titles.recent-posts') %></h2>
  </header>

  <div class="post-filter">
    <%= render 'shared/post_filter' %>
  </div>

  <div id="post-stream">
    <%= render 'post_stream' %>
  </div>
</section>