<% if membership_request.status.eql? 'confirmed' %>
    <span class="label success"><%= t('membership_requests.labels.confirmed') %></span>
<% elsif membership_request.status.eql? 'rejected' %>
   <span class="label alert"><%= t('membership_requests.labels.rejected') %></span>
<% else %>
<%= link_to t('notifications.actions.membership_requests.confirm'), confirm_membership_request_path(group_id: membership_request.group.id, id: membership_request.id), method: :post, remote: true, class: 'button alert tiny' %>
<%= link_to t('notifications.actions.membership_requests.reject'), reject_membership_request_path(group_id: membership_request.group.id, id: membership_request.id), method: :post, remote: true, class: 'button secondary tiny' %>
<% end %>