<header>
  <h2 class="subheader"><%= t('notifications.index.title') %></h2>
</header>
 
<ul class="notifications">
<% @notifications.each do |notification| %>
  <%= render "notifications/#{notification.notifyable_type.downcase}", notification: notification %>
<% end %>
</ul>

<%= paginate @notifications %>