<header>
  <h2 class="subheader"><%= t('notifications.index.title') %></h2>
</header>
 
<% @notifications.each do |notification| %>
  <%= debug notification %>
<% end %>

<%= paginate @notifications %>