<header>
  <h2>
    <%= t('users.profile.about.title') %>
  </h2>
  <% if can? :manage, @user %>
    <%= link_to t('users.profile.update_profile.link'), edit_user_path(@user), class: 'tiny button alert' %>
  <% end %>
</header>


<dl>
  <dt>Personal Info</dt>
  <dd><small><%= @user.title %></small><%= @user %></dd>
</dl>

