<li>
  <% if can? :manage, @user %>
  <span class="bookmark">
  <% if group.followers.include?(@user) %>
    <%= link_to fa_icon('star'), following_group_path(group, method: 'unfollow'), remote: true, method: :post, title: t('groups.unfollow_link_text') %>
  <% else %>
    <%= link_to fa_icon('star-o'), following_group_path(group, method: 'follow'), remote: true, method: :post, title: t('groups.follow_link_text') %>
  <% end %>
  </span>
  <% end %>
  <span class="group-type label ">
    <%= t("groups.labels.group_type.#{group.group_type}") %>
  </span>
  <span class="group-title">
    <%= link_to truncate(group.title, length: 150), group_path(group) %>
  </span>

</li>
