<div class="span8 center">
<h2>Top-Users</h2>
<p>Compare your ranking with other users. Later you can earn badges!</p>

  <table class="table">
    <thead>
      <tr>
        <td></td>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody class="table-condensed table-striped">
      <% User.order('score DESC').limit(10).each_with_index do |user, i| %>
      <% if user.confirmed? %>
        <tr>
          <td width="35" style="border:0px; text-align:center;"><%= i + 1 %></td>
          <td><%= user.full_name %></td>
          <td><%= user.score %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
