<h2>Moderation</h2>

<div class="well">
<%= form_tag search_users_path, :method => 'get', class: 'form-search', :remote => true do %>
  <div class="controls">
    <%= text_field_tag :q, params[:q], :placeholder => "Search for the user...", class: 'span10' %>
    <%= submit_tag 'Search', class: 'btn btn-info span2 hidden-phone' %>
  </div>
<% end %>
</div>

<div class="users-table">
<%= render 'users/users-table' %>
</div>



<!-- Piwik --> 
<script type="text/javascript"> 
var _paq = _paq || []; 
(function(){ var u=(("https:" == document.location.protocol) ? "https://auditorium.inf.tu-dresden.de/piwik/" : "http://auditorium.inf.tu-dresden.de/piwik/"); 
_paq.push(['setSiteId', {$IDSITE}]); 
_paq.push(['setTrackerUrl', u+'piwik.php']); 
_paq.push(['trackPageView']); 
_paq.push(['enableLinkTracking']); 
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'piwik.js'; 
s.parentNode.insertBefore(g,s); })();
 </script> 
<!-- End Piwik Code -->