<li class="plain badge">
  <span class="has-tip tip-top badge <%= badge.category %> <%= 'earned' if badge_earned?(badge, current_user) %>" data-tooltip data-options="disable-for-touch:true" title="<%= badge.description %>">
    <%= fa_icon('trophy', text: t('badges.content.title', title: badge.title)) %>
  </span>
</li>