<% # faculty %>
<div class="btn-group">
  <% if current_user %>

    <% if can? :create, Institute %>
      <%= link_to("add institute", new_institute_path(:faculty_id => faculty.id), { :class => 'btn btn-mini btn-primary'}) %>
    <% end %>

    <% if can? :update, faculty %>
      <%= link_to 'edit', edit_faculty_path(faculty), { :class => 'btn btn-mini btn-warning' }  %>
    <% end %>

    <% if can? :destroy, faculty %>
      <%= link_to 'delete', faculty, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
    <% end %>

  <% end %>
</div>
