<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

<% @faculties.each do |faculty| %>
  <tr>
    <td><%= link_to faculty.name, faculty %></td>
    <% if current_user and current_user.admin?  %>
      <td>
        <%= link_to 'Edit', edit_faculty_path(faculty), { :class => 'btn btn-mini btn-warning' }  %>
        <%= link_to 'Destroy', faculty, confirm: 'Are you sure?', method: :delete , :class => 'btn btn-mini btn-danger' %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
