<h2>Editing faculty</h2>

<%= render 'form' %>

<%= link_to 'back', faculties_path, :class =>'btn btn-mini fa-arrow-left' %>
<%= link_to 'show', @faculty, :class=>'btn btn-mini btn-primary' %> |
<%= link_to 'delete', @faculty, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
