<header>
<h2>Faculties</h2>
</header>

<% if current_user and current_user.admin? %>
  <%= link_to 'add faculty', new_faculty_path, { :class => 'btn btn-small btn-primary' }  %>
<% end %>

<%#= render "full_list", :faculties=> @faculties%>
<%= render :partial => 'faculties/grid', :locals => { :objects => @faculties, :cols => 2} %>
<br />

<% if current_user and current_user.admin? %>
  <%= link_to 'add faculty', new_faculty_path, { :class => 'btn btn-small btn-primary' }  %>
<% end %>
