<div class="large-4 columns">
  <h1><%= t('generla.footer.about') %></h1>
  <ul class="no-style">
    <li><%= link_to t('general.footer.github'), 'http://github.com/auditorium/auditorium' %></li>
  </ul>

</div>
<div class="large-4 columns">
  <h1><%= t('generla.footer.support') %></h1>
</div>
<div class="large-4 columns">#3</div> 