<ul class="filter-list">
  <li><%= link_to t('general.filter.show_lecture_groups'), params.merge({ show_lecture_groups: (cookies[:show_lecture_groups] == 'no' ? 'yes' : 'no') }), class: "filter #{'selected' unless cookies[:show_lecture_groups] == 'no'}" %></li>

  <li><%= link_to t('general.filter.show_topic_groups'), params.merge({ show_topic_groups: (cookies[:show_topic_groups] == 'no' ? 'yes' : 'no') }), class: "filter #{'selected' unless cookies[:show_topic_groups] == 'no'}" %></li>

  <li><%= link_to t('general.filter.show_study_groups'), params.merge({ show_study_groups: (cookies[:show_study_groups] == 'no' ? 'yes' : 'no')  }), class: "filter #{'selected' unless cookies[:show_study_groups] == 'no' }" %></li>

  <% unless params[:action].eql? 'my_groups' %>
  <li><%= link_to t('general.filter.show_only_subscribed_groups'), params.merge({ show_only_subscribed_groups: (cookies[:show_only_subscribed_groups] == 'no' || params[:show_only_subscribed_groups].nil? ? 'yes' : 'no')  }), class: "filter #{'selected' if cookies[:show_only_subscribed_groups] == 'yes'}" %></li>
  <% end %>
</ul>