<div class="logo">
  <h1>
    <span> <em class="icon-paper-clip"> </em> <div class="btn btn-mini btn-danger"> beta </div> </span>
    <%= link_to 'auditorium', home_path %>
  </h1>
  <p class="subheader hidden-phone">
  	You have questions? Ask and get answers.
  	 <small class="hidden-phone"><span id="language" class="pull-right" title='Comming soon.' rel="tooltip">English | German</span></small>


  </p>
</div>
