<div class="logo">
  <h1><%= link_to 'auditorium', home_path %></h1>
  <p class="subheader">
  	You have questions? Ask and get answers.
  	 <small><span id="language" class="pull-right" title='Comming soon.' rel="tooltip">English | German</span></small>


  </p>
</div>