<li class="notification-button">
  <% if current_user %>
  <%= link_to current_user.unread_notifications.count, notifications_path, :class=>"visible-desktop notification-button #{red if current_user.unread_notifications.count > 0}", title: "#{current_user.unread_notifications.count} unread notifications" %>
	<%= link_to pluralize(current_user.unread_notifications.count, 'notification'), notifications_path, :class=>"hidden-desktop", title: "#{current_user.unread_notifications.count} unread notifications" %> 
	<% end %> 
</li>

