<section class="hide-for-small" id='search-form'>
  <%= link_to fa_icon('search'), '#', class: 'show-search' %>
  <%= form_tag search_path, method: 'get', remote: true do %>
    
    <%= text_field_tag :query, nil, { placeholder: t('general.search.placeholder.long')} %>
    <noscript>
      <div class="large-2 columns"><%= submit_tag t('general.search.submit'), class: "button expand small #{color_scheme}" %></div>
    </noscript>

  <% end %>
</section>
<section class="row" id="search-results"></section>