<header>
  <h2><%= t('users.profile.settings.title') %></h2>
</header>
<div class="row block">
  <div class="large-6 columns" data-id="email-notifications">
    <%= render 'users/email_notifications' %>
  </div>
  <div class="large-6 column" data-id="personal-information">
  <%= render 'users/form' %>
  </div>
</div>

