<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        padding:20px;
      }
      p {
        font-weight:200;
      }
    </style>
  </head>
  <body>
    <h1 style="font-weight:100;">Hello, <%= @user.full_name %></h1>
    
    <p>You are now an editor of the course <%= link_to @course.name_with_term, @url %>. As editor you can access the course with additional privileges:</p>
      <ul>
        <li>make announcements for this course,</li>
        <li>read and edit private questions,</li>
        <li>edit the course.</li>
      </ul>
    </p>
      Go to <%= link_to @course.name_with_term, @url %> and see what you can do.  
    </p>

    <p>Have a great day!</p>
    <em>The auditorium team</em>
  </body>
</html>