<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        padding:20px;
      }

      h1 {
        font-size:1.1em;
        font-weight:200;
      }

      p {
        font-weight:200;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to auditorium, <%= @user.full_name %></h1>
    <p>
      You have successfully signed up to <%= link_to 'auditorium', @url %>.
      You can log in with your email address: <%= @user.email %>.<br/>
    </p>
    <p>
      To log in to the site, just follow this link: <%= link_to 'sign in to auditorium', "#{@url}/users/sign_in" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <em>The auditorium team</em>
  </body>
</html>