<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        padding:20px;
      }
      p {
        font-weight:200;
      }
    </style>
  </head>
  <body>
    <h1 style="font-weight:100;">Hello <%= @resource.full_name %>!</h1>
   
		<p>Your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

		<p>Click the link below to unlock your account:</p>

		<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p><p>Hello <%= @resource.full_name %>!</p>

		<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

		<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

		<p>If you didn't request this, please ignore this email.</p>
		<p>Your password won't change until you access the link above and create a new one.</p>

    <p>Have a great day!</p>
    <em>The auditorium team</em>
  </body>
</html>