<% if post.post_type.eql? 'answer' and can? :mark_as_answered, post %>
	<%= form_tag answered_post_path(post), :method => "post", :class => 'button_to', :remote => true do %> 
		<p class="answered-button">
			<% answered = 'not answered' %>
			<% answered = 'answered' unless post.answer_to_id.nil? %>
		  <%= button_tag :type => "submit", :name => 'is answer', :title => 'This answers my question.', :class => "btn-answered #{answered}", :id => "post-#{post.id}-answered" do %>
		    <i class="icon-ok"></i>
		  <% end %>
		</p>
	<% end %>
<% else %>
	<% if not post.answer_to_id.nil? %><i class="icon-ok btn-answered answered" title="This post answeres the questions."></i><% end %>
<% end %>
