<% if @posts.count == 0 %>
  <div class="alert alert-info">There are no question or information available yet. Be the first with a question.</div>
<% else %>

  <% for post in @posts %>
    <% if post_types.include? post.post_type and current_user.can_see(post) %>
      <%= render :partial => 'posts/post_teaser', :locals => { :post => post} %>
    <% end %>
  <% end %>

<% end %> 