<% if posts_per_day.count == 0 %>
  <div class="alert alert-info">There are no question or information available yet. Be the first with a question.</div>
<% else %>
  <% posts_per_day.each do |day, posts| %>
    <h4><%= day.strftime("%A - %d. %B %Y") %></h4>
    <% for post in posts %>
      <% if post_types.include? post.post_type %>
        <%= render :partial => 'posts/post_teaser', :locals => { :post => post} %>
      <% end %>
    <% end %>
  <% end %>

<% end %> 