<% # course %>
<div class="btn-group">
  <% if current_user %>

    <% if can? :create, Event %>
      <%= link_to("add event", new_event_path(:course_id => course.id), { :class => 'btn btn-mini btn-primary'}) %>
    <% end %>

    <% if can? :update, course %>
      <%= link_to 'edit', edit_course_path(course), { :class => 'btn btn-mini btn-warning' }  %>
    <% end %>

    <% if can? :destroy, course %>
      <%= link_to 'delete', course, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
    <% end %>

  <% end %>
</div>
