<% if @course.infos.count == 0 %>
  <div class="well">
  <p>No announcements were made, yet. 
    <% if current_user and current_user.may_edit_course(@course) %>
      <%= link_to 'Be the first with an announcement.', new_post_path(:post_type => 'info', :course_id => @course.id) %>
    <% end %>
  </p>
  </div>
<% else %> 

  <% for info in @course.infos %>
    <%= render :partial => 'posts/post_teaser', :locals => { :post => info} %>
  <% end %>

<% end %>

