<% if @infos.count == 0 %>
  <p class="alert alert-info">
  No announcements were made, yet. 
    <% if current_user and current_user.may_edit_course(@course) %>
      <%= link_to 'Be the first with an announcement.', new_post_path(:post_type => 'info', :course_id => @course.id) %>
    <% end %>
  </p>
<% else %> 

  <% @infos.each do |info| %>
    <%= render :partial => 'posts/post_teaser', :locals => { :post => info} %>
  <% end %>

<% end %>

