<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Lecture</th>
    <th></th>
  </tr>
  </thead>

<% @courses.each do |course| %>
  <tr>
    <td><%= link_to course.name, course %></td>
    <td><%= link_to course.lecture.name, course.lecture %></td>
    <% if current_user and current_user.admin?  %>
      <td>
        <%= link_to 'Edit', edit_course_path(course), { :class => 'btn btn-mini btn-warning' }%>
        <%= link_to 'Destroy', course, { confirm: 'Are you sure?', method: :delete,  :class => 'btn btn-mini btn-danger' }%>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
