<!doctype html>
<head>
	<title>auditorium | <%= @status %></title>
	<link href="/assets/error.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="wrapper">
		<%= yield %>
	</div>
</body>
</html>

