<!doctype html>
<head>
	<title>auditorium | <%= @status %></title>
	<%= stylesheet_link_tag    "error", :media => "all" %>
</head>
<body>
	<div class="wrapper">
		<%= yield %>
	</div>
</body>
</html>

