<div class='span9'>
  <%= form_for(@report = Report.new) do |f| %>
    <div class='span4'>
      <%= f.hidden_field :post_id, :value => post.id %>
      <%= f.text_area :body, class: 'span4', :size => '10x1' %>
    </div>
    <div class="span4">
      <%= f.submit 'Submit report', class: 'btn span2' %>
    </div>
  <% end %>
</div>