<h2>Reports</h2>

<% if @reports.any? %>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th>Report</th>
        <th>Author of the post</th>
        <th>Subject of the post</th>
        <th class="span5">Content of the post</th>
        <th>Date of post</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @reports %>
    </tbody>
    <%= paginate @reports %>
  </table>
<% else %>
  <p class='alert alert-info'>Seems your audience is harmless.</p>
<% end %>

