<h2>Browse courses by term</h2>

<div class="row-fluid">
  <% @terms.each do |term| %>
  <div class="well span4">
    <h3><%= link_to term.code, term_path(term) %></h3>
    <ul class="unstyled">
      <li>Courses: <%= term.courses.count %></li>
    </ul>
    <% if can? :manage, term %>
    <div class="controls">
      <%= link_to 'edit', edit_term_path(term), class: 'btn btn-warning btn-mini' %>
      <%= link_to 'delete', term, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>