<h2>Browse by terms</h2>

<table class="span6 offset3 table table-condensed table-striped table-hover">

  <thead class="">
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody class="">

<% @terms.each do |term| %>
  <tr>
    <td> 
      <%= link_to term, term %>
      <% unless term.courses.count > 0 %>
        <td style="text-align:right;"><p class="hint" style="text-align:right;display:inline;"> no courses entered yet  </p> </td>
        <% else %>
          <td> </td> 
      <% end %>

    </td>
  </tr>
<% end %>
  </tbody>
</table>
