<div class="subscribed-courses">
	<% if @courses_by_faculty.count > 0 %>
		
		<% @courses_by_faculty.each do |faculty, courses| %>
			<h2><%= "Subscribed to courses in #{faculty}" %></h2>
			<% courses.each do |course| %>
			<div class="subscribed-course-<%= course.id %>"><%= render :partial => 'courses/single_course', :locals => { :course => course } %></div>
			<% end %>
		<% end %>

<% else %>
	<%= render 'course_memberships/no_subscribtions' %>
<% end %>
</div>
