<% title t('static_pages.headers.imprint') %>
<section id="imprint-policty">
<header>
  <h1><%= t('static_pages.headers.imprint') %></h1>
</header>
  <article>
    <h3 class="subheader">Ansprechpartner</h3>
    <ul class="plain-list">
      <li>Lars Beier</li>
      <li><%= mail_to 'inf-auditorium@groups.tu-dresden.de', 'Email für Fragen und Support' %></li>
    </ul>

    <h3 class="subheader">Unterstützung</h3>
    <ul class="plain-list">
      <li>Technische Universität Dresden</li>
      <li>Fakultät Informatik</li>
      <li>Institut für Systemarchitektur</li>
      <li>Professur Rechnernetze</li>
      <li>D-01062 Dresden</li>
    </ul>

    <p><%= link_to 'Zur Datenschutzerklärung', privacy_path %></p>
  </article>
</section>

