<% title t('static_pages.imprint.header') %>
<section id="imprint">
<header>
  <h1><%= t('static_pages.imprint.header') %></h1>
</header>
  <article>
    <h2 class="subheader">Verantwortlicher</h2>

    <ul class="no-style">
    Lars Beier<br />
    Technische Universität Dresden<br />
    Fakultät Informatik<br />
    01062 Dresden<br />
    Email: lars.beier@tu-dresden.de
    </ul>
  </article>
</section>