<% title t('static_pages.headers.privacy') %>
<section id="privacy-policy">
<header>
  <h2><%= t('static_pages.privacy.header') %></h2>
</header>
  <article>
    <p>Aktualisiert: 01.12.2013</p>

    <h3 class="subheader">Geltungsbereich</h3>

    <p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten durch die Online Plattform ’auditorium’ auf.</p>

    <p>Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).</p>

    <h3 class="subheader">Umgang mit personenbezogenen Daten</h3>

    <p>Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zurück zu einer Person verfolgt werden können. Dazu gehören z.B. der Name oder die E-Mail-Adresse.</p>

    <p>Personenbezogene Daten werden von ’auditorium’ nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist. Personenbezogene Daten sind: Name, E-Mail-Adresse, Zeitpunkte der Anmeldung. Diese Daten werden nicht an Dritte veräußert. Eine unentgeltliche Weitergabe kann erfolgen a) anonymisiert zu statistischen Zwecken, b) anonymisiert zu akademischen Zwecken. Die Nutzung der Daten schließt die Speicherung im Rahmen des zur Bereitstellung des Angebots notwendigen Maßes ein; dieser Speicherung kann während der Nutzung von ’auditorium’ nicht widersprochen werden.</p>
 
    <h3 class="subheader">Weitere Datenerhebung, -speicherung, -verarbeitung und -weitergabe</h3>
    
    <p>Piwik Dieses Angebot benutzt Piwik, eine Open-Source-Software zur statistischen Auswertung der Nutzerzugriffe. Piwik verwendet sog. “Cookies”, Textdateien, die auf dem Computer der Nutzer gespeichert werden und die eine Analyse der Benutzung der Website durch die Nutzer ermöglichen. Die durch den Cookie erzeugten Informationen über die Benutzung dieses Agebotes werden auf dem Server des Anbieters in Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Nutzer können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; Der Anbieter weisen die Nutzer jedoch darauf hin, dass sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können.</p>

    <iframe frameborder="no" width="600px" height="200px" src="https://auditorium.inf.tu-dresden.de/index.php?module=CoreAdminHome&action=optOut&language=<%= params[:locale] %>"></iframe>

    <h3 class="subheader">Kontaktaufnahme</h3>

    <p>Bei der Kontaktaufnahme mit ’auditorium’ werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</p>

    <h3 class="subheader">Verfassen von Beiträgen</h3>

    <p>In ’auditorium’ werden verfasste Beiträge, wie Fragen, Antworten oder Kommentare mit dem jeweiligen Benutzer verknüpft. Falls jemand in Beiträgen widerrechtliche Inhalte schreibt (Beleidigungen, verbotene politische Propaganda, etc.), so kann der Anbieter von ’auditorium’ dafür belangt werden und ist daher an der Identität des Verfassers interessiert.</p>

    <h3 class="subheader">Einbindung von Diensten und Inhalten Dritter</h3>

    <p>Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.</p>

    <h3 class="subheader">Cookies</h3>

    <p>Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie, um die statistische Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des Angebotes analysieren zu können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. Die meisten Browser verfügen über eine Option mit der das Speichern von Cookies eingeschränkt oder komplett verhindert wird. Allerdings wird darauf hingewiesen, dass die Nutzung und insbesondere der Nutzungskomfort ohne Cookies eingeschränkt werden.</p>

    <p>Sie können viele Online-Anzeigen-Cookies von Unternehmen über die US-amerikanische Seite http://www.aboutads.info/choices/ oder die EU-Seite http://www.youronlinechoices.com/uk/your-ad-choices/ verwalten.</p>

    <h3 class="subheader">Registrierfunktion</h3>

    <p>Die im Rahmen der Registrierung eingegebenen Daten werden für die Zwecke der Nutzung des Angebotes verwendet. Die Nutzer können über angebots- oder registrierungsrelevante Informationen, wie Änderungen des Angebotsumfangs oder technische Umstände per E-Mail informiert werden. Die erhobenen Daten sind aus der Eingabemaske im Rahmen der Registrierung ersichtlich. Dazu gehören die E-Mail-Adresse und der Benutzername.</p>

    <h3 class="subheader">Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h3>

    <p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>

    <p class="hint">Auf Grundlage von <%= link_to 'Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it', "http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/" %></p>
  </article>
</section>