
<%
  cols = 3 if cols.nil?
  cols = 12/cols
  i = 0
%>
<div class="row-fluid" >
  <% chairs.each do |chair| %>
    <div class="span<%=cols%> well-small" >

      <h4><%= link_to chair.name, chair %></h4>
      <%if  chair.current_lectures.count > 0 %>
          <ul>
            <% chair.current_lectures.each do |l| %>
              <li><%= link_to l.name, l %></li>
            <% end %>
          </ul>
        <% else%>
          <em>
            no current lectures
          </em>
      <% end %>
        <br />
    </div>
    <% i=i+1 %>
    <% if i % (12/cols) == 0 %>
    </div>

    <div class="row-fluid" >
    <% end %>

  <% end %>
</div>
