<h2>Editing institute</h2>

<%= render 'form' %>

<%= link_to 'back', institutes_path, :class =>'btn btn-mini fa-arrow-left' %>
<%= link_to 'show', @institute, :class=>'btn btn-mini btn-primary' %> |
<%= link_to 'delete', @institute, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
